{% load static %}
<!DOCTYPE html>
<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%}Second Hand{%endblock title%}</title>
    </head>
    <body>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <sctipt src="{% static 'js/main.js' %}"></script>
        <header>
            <div class="container">
                <a href="{% url 'home' %}" class="logo" class="nav_text">Logo</a>
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}"class="nav_text"><button class="nav_button">Главная</button></a></li>
                        <li><a href="{% url 'registration' %}" class="nav_text"><button class="nav_button">Зарегистрироваться</button></a></li>
                        <li><a href="{% url 'auth_user' %}" class="nav_text"><button class="nav_button">Войти</button></a></li>
                        <li><a href="{% url 'create_ad' %}" class="nav_text"><button class="nav_button">Создать объявление</button></a></li>
                            <li><a href="{{ user.get_absolute_url }}" class="nav_text">{{ user.username }}</a></li>
                            <li><a href="{{ user.get_absolute_url }}"><img src="{{ avatar.url }}" alt="Avatar" class="avatar" width="50" height="50"></a></li>
                    </ul>
                </nav>
                <br>
                <br>
                <form method="post" class="search">
                    {{ form.search_field }}
                    <button class="nav_button" type="submit">Искать</button>
                </form>
                <hr>
            </div>
            </div>

        </header>

        <div class="main">
            <div class="container">
                {% block content %}{% endblock content %}
        </div>
        <hr>
        <footer>
            <div class="container">
                Author: JJkov<br>
                All rights reserved
            </div>
        </footer>
    </body>
</html>