header {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.logo {
    float: left;
}

nav {
    float: right;
} 

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    line-height: 38px;
}

.product {
    border: solid 4px;
    float: center;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

body {
    text-decoration: none;
    background-color: rgb(40, 128, 0);
}

.product_image {
    padding: 10px;
}

.nav_text{
    color: black;

}

input {
    border-radius: 5px;
    border-color: green;
    float: center;
}

.nav_button {
    background-color: rgb(255, 153, 0);
    border-color:rgb(255, 153, 0);
    border-radius: 5px;
    padding: 10px;

}

select {
    background-color: green;
    border-color:green;
    border-radius: 5px;
}

#photo {
    background-color: green;
    border-color:green;
    border-radius: 5px;
}

.avatar {
    border: solid rgb(255, 153, 0);
    border-radius: 50%;
    padding: 2px;
}

.profil {
    float: center;
    width: 100%;
}

#view_user {
    border: solid rgb(255, 153, 0);
    border-radius: 50%;
    padding: 2px;
    float: center !important;
}

#user_info {
    float: center;
}

.profil_nav {
    padding: 20px;
}