{% extends 'base.html' %}
{% block title %}Создание объявления{% endblock title %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_create.title.label_tag }}{{ form_create.title }}<br>
        {{ form_create.category.label_tag }}{{ form_create.category }}<br>
        {{ form_create.description.label_tag }}{{ form_create.description }}<br>
        {{ form_create.price.label_tag }}{{ form_create.price }}<br>
        {{ form_create.adress.label_tag }}{{ form_create.adress }}<br>
        Фотография товара: <input type="file" name="photo"><br>
        <button type="submit" class="button">Создать</button>
    </form>
{% endblock content %}