{% extends 'base.html' %}
{% block content %}
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}