{% extends 'base.html' %}
{% block title %}MarketPlace{% endblock title %}
{% block content %}
    {% for product in products %}
    <div class="product">
        {% if product.photo %}
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.photo.photo.url }}" width="300" height="250" class="product_image"><br></a>
        {% endif %}
        <a href="{{ product.get_absolute_url }}"><h2>{{ product.title }}</h2></a><br>
        Дата публикации: {{ product.time_created }}<br>
        Категория: {{ product.category }}<br>
        {% if product.price != 0 %}<br>
            {{ product.price }} рублей<br>
        {% else %}
            Бесплатно<br>
        {% endif %}
        Продавец: <a href="{{ product.salesman.get_absolute_url }}">{{ product.salesman }}</a><br>
        Адрес: {{ product.adress }}<br>
    </div>
    <br>
    {% endfor %}
{% endblock content %}