{% extends 'base.html' %}
{%block content%}
    <form method="post">
        {% csrf_token %}
        Электронная почта:{{ form.email }}<br>
        Пароль: {{ form.password }}<br>
        <button class="button" type="submit">Войти</button>
    </form>
{%endblock content%}