{% extends 'base.html' %}
{% block content %}
    {% for i in products%}
    <div>
        {{i.title}}<br>
        {{i.description}}<br>
        {{i.price}}<br>
    </div>
    <br>
    {% endfor %}
{% endblock content %}