{% extends 'base.html' %}
{% block content %}
    <div class="profil">
        <img class="avatar" src="{{ user_item.photo.url }}" width="100" name="view_user" height="100"><br>
        <p {{ user_item.username }}</p>
            <div name="user_info">
                Почта: {{ user_item.email }}
            </div>
        <div align="right">
                <a href="{{ user_item.get_products_wich_saling }}"><button type="submit" class="button">Продаваемые товары</button></a><br><br>
                <button type="submit" name="saled" class="button">Проданные товары</button>
        </div>
            <button class="button" name="message" type="submit">Написать</button>
    </div>
{% endblock content %}