{% extends 'base.html' %}
{% block content %}
    <h1 align="center">Товары, которые продает {{ user_item.username }}</h1>
    <div class="product">
    {% if products%}
        {% for product in products %}
            {% if product.photo %}
            <img src="{{ product.photo.photo.url }}" width="300" height="250" class="product_image"><br>
        {% endif %}
        <h2>{{ product.title }}</h2><br>
        Дата публикации: {{ product.time_created }}<br>
        Категория: {{ product.category }}<br>
        Описание: {{ product.description }}<br>
        {% if product.price != 0 %}<br>
            Цена: {{ product.price }} рублей<br>
        {% else %}
            Цена: Бесплатно<br>
        {% endif %}
        Адрес: {{ product.adress }}<br>
        {% endfor %}
    {% else %}
        <p align="center">Ничего нет</p>
    {% endif %}
    </div>
{% endblock content %}