{% extends 'base.html'%}

{% block content %}
    <div class="product">
        {% if product.photo %}
            <img src="{{ product.photo.photo.url }}" width="300" height="250" class="product_image"><br>
        {% endif %}
        <h2>{{ product.title }}</h2><br>
        Дата публикации: {{ product.time_created }}<br>
        Категория: {{ product.category }}<br>
        Описание: {{ product.description }}<br>
        {% if product.price != 0 %}<br>
            Цена: {{ product.price }} рублей<br>
        {% else %}
            Цена: Бесплатно<br>
        {% endif %}
        Продавец: <a href="{{ product.salesman.get_absolute_url }}">{{ product.salesman }}</a><br>
        Адрес: {{ product.adress }}<br>
    </div>
    <br>
{% endblock content %}